<div class="container row">
  <h1>About</h1>
</div>
<hr>
<div class="about-container row container">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h3>About Us</h3>
    <p>Beauty Land Korea is a renowed cosmetics retail company, bringing natural products to customers in 
      Korea for the last 10 years. With such success we have decided to expand into the United States and 
      bring our products as well. Always rest assured that each and every one of our products is 100% 
      natural from nature.
    </p>
    <h3>How We Work</h3>
    <p>Simply place an order and expect that you will receive your product(s) in a timely manner
      We offer coupons and store credit if your item:
      1. Does not arrive in a timely manner
      2. Arrives in a damaged condition
    </p>    
    <h3>Contact Us</h3>
    <p>We are always eager to hear feedback from our Customers as your satisfaction with our products 
      is our top priority. Feel free to send an inquiry as our Customer Service representatives are
      always waiting.
  </p>
    <h3>Our Privacy Policy</h3>
    <p>You can rest assured that at Beauty Land Korea we never store your billing information. Also we 
     never use your order data for promotional purposes. We always consider the privacy of our Customers above 
     sales
    </p>
  </div>
  <div class="col-md-1"></div>
</div>
